<nav>
	<ul>
		<li><strong>PHOTO LIBRARY </strong></li>
	</ul>
	<ul>
		<li><a href="/">Show Images</a></li>
		<li><a href="/add-image-form">Add Image</a></li>
	</ul>
	<form action="/search" method="get" style="display: inline-block; margin-left: 20px;">
		<input type="text" name="keyword" placeholder="Search by keyword..." required>
		<button type="submit">Search</button>
	</form>
</nav>